*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #1f242d;
}
a{
    color: white;
    text-decoration: none;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    /* background: slateblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}
@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    transition: translate(1);
}
.navbar ul li:hover a,
.navbar ul li.active a
{
    color: hsl(124, 65%, 51%);
    transform: scale(0.90s);
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 50px;
    padding: 60px 9% 0;
    color: #fff;
    /* visibility: hidden; */
     opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}
.home-info h1{
    font-size: 55px;
}
.home-info h2{
    font-size: 32px;
    margin-top: -10px;
}
.home-info h2 span{
    display: inline-block;
    color: transparent;
    -webkit-text-stroke:.7px #7cf03d ;
}
.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}
.home-info .btn-sci{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 10px ;
    
    border: 2px solid #7cf03d;
    border-radius: 40px;
    
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    transition: all 0.5s;
    
}
.btn:hover{
   background-color: #7cf03d;
   transform: scale(1);
   color: #1f242d;
}
.home-info .btn-sci .sci{
    margin-left: 20px;
}
.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .5s;
}
.home-info .btn-sci .sci a:hover{
    background: #7cf03d;
    color: #1f242d;
    /* box-shadow: 0 0 10px #7cf03d; */
}
.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    /* background: red; */
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-img .img-box::before,
.home-img .img-box::after
{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,transparent,transparent, #7cf03d);
}
.home-img .img-box .img-item{
    width: 100%;
    height: 100%;
    background: slateblue;
    border-radius: 50%;
    display: flex;
    border: 1px solid red;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}
.home-img .img-box .img-item img{
    position: absolute;
    
    border-radius: 50%;
    display: block;
    width: 400px;
    height: 400px;
    object-fit: cover;
    /* mix-blend-mode: lighten; */
}
.bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bars-animation .bar{
    width:100%;
    height: 100%;
    background: #1f242d;
    /* border: 2px solid red; */
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i)) ;
}
@keyframes show-bars{

}
.logo{
    display: inline-block;
    animation-name:h1 ;
    animation-duration:2s ;
    animation-timing-function:ease-in;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
}
@keyframes h1{
    from{color: #7cf03d; font-size: 30px;}
    to{color: rgb(221, 80, 72); font-size: 35px;}
}

p{
    font-family: Microsoft JhengHei;
    font-weight: 900;
    
}